/*Custom Colors*/
a:hover, h4, a.subhead, .pageTitle, .chapterTitle, #logo a:hover, .homepage-button a:hover, .pagination li a:hover, .sidebar-menu a:hover {
	color: #5c2e91 !important;
}
a, h5, #logo, #logo a, a.headline, .post-title a, .homepage-button a, .sidebar-menu a {
	color: #92278f !important;
}
 .homepage-button-img path, .homepage-button-img text {
 	fill: #92278f;
 }
 .homepage-button a:hover .homepage-button-img path, .homepage-button a:hover .homepage-button-img text {
 	fill: #5c2e91;
 }
.sidebarIcon {
	color: #c6168d !important;
}
#thirdRow {
	color: #ed1c24 !important;
}
#logo a:hover #thirdRow {
	color: #a92b31 !important;
}
#searchsubmit, .header-search-bar button, .input-group.mobile-search-bar button, span.page.current, input[type=submit] {
	background-color: #92278f;
}
#searchsubmit:hover, .header-search-bar button:hover, .input-group.mobile-search-bar button:hover, input[type=submit]:hover {
	background-color: #5c2e91;
}
.pagination li {
	border: 1px solid #92278f;
 	color: #92278f;
}
#eventTitle, .officer-position, .sidebar-subtitle {
	color: #c6168d;
}


/*Breadcrumb colors*/
#breadcrumb {
	background-image: url('../img/purple/breadcrumb_bg.png');
}
#bc_left{
	background-image: url('../img/purple/breadcrumb_left_bg.jpg');
}
#bc_spacer {
	background-image: url('../img/purple/breadcrumb_spacer.png');
}